{% extends 'main/layout.html' %}

{% block title %}{{ recipe.title|default:"Добавить рецепт" }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ recipe.title|default:"Добавить рецепт!" }}</h1>

    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
    {% endif %}

    {% if recipe and recipe.pk %}
        <p><strong>Дата публикации:</strong> {{ recipe.date }}</p>
        <p><strong>Описание:</strong> {{ recipe.description }}</p>
        <p><strong>Ингредиенты:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Шаги приготовления:</strong> {{ recipe.steps }}</p>
        <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} мин</p>

        <a href="{% url 'recipes-update' pk=recipe.pk %}" class="btn btn-info">Редактировать</a>
        <a href="{% url 'recipes-delete' pk=recipe.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endblock %}