{% extends 'main/layout.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ recipe.title }}</h1>

        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
        {% endif %}
        <p><strong>Автор:</strong> {{ recipe.author.username }}</p>
        <p><strong>Дата публикации:</strong> {{ recipe.date }}</p>
        <p><strong>Описание:</strong> {{ recipe.description }}</p>
        <p><strong>Ингредиенты:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Шаги приготовления:</strong> {{ recipe.steps }}</p>
        <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} мин</p>


        {% if recipe and recipe.pk %}
            <a href="{% url 'recipes-update' pk=recipe.pk %}" class="btn btn-info">Редактировать</a>
            <a href="{% url 'recipes-delete' pk=recipe.pk %}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
{% endblock %}